<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Flappy Bird - Simple</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
   <header class="navbar">
    <div class="logo">
      <img src="/imgs/Flappy-Bird-Transparent.png" >
     
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="index.html">Game</a></li>
        <li><a href="Leaderboard.html">Leaderboard</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
     <a href="#" class="btn">Privacy Policy</a>
   </header>
   <section class="hero">
    <div class="hero-text">
     <h1>Welcome to  our FlipFlop Game</h1>
     <h2> The FlipFlop Game! Have fun playing and try to beat your high score.</h2>
     <p> You can play the game now!!</p>
     </div>
     </section>
    </div>
    
    <div class="game-wrap">
    <canvas id="gameCanvas" width="320" height="480"></canvas>
    <div class="controls">
      <button id="restartBtn">Restart</button>
      
    </div>
  </div>
  <script src="/static/script.js"></script><script src="/static/script.js"></script>
   <footer>
    <div class="footer-bottom">
      <p>© 2025 FlipFlop Game  | All Rights Reserved</p>
    </div>
  </footer>
</body>
</html>